.venue-search-form__primary-inputs {
  .form-control {
    height: 54px;
  }
}

.venue-search-form__secondary-inputs {
  margin-top: 1em;

  label {
    color: #999999;
    font-size: 0.9em;
  }
}

.venue-search-form {
  margin: 2em 0;
}